.card {
  width: 540px;
  list-style-type: none;
}

.card__title {
  /* display: block; */
  margin: 0 0 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* no default margin on list items */
.card__list-item {
  margin: 16px 0; /*perfect*/
  display: flex;
  justify-content: space-between;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1; /*with parent as a flex container, this grows the span element*/
}
